.resume-title{
    margin-top: -1%;
}

ul {
    text-align: left;
}
.position_title{
  font-weight:bold;
}
.container_resume{
  margin-left: 10px;
}

.project_name{
  color: black;
  text-decoration: underline;
}
